@charset 'utf-8';

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

/*------ Colors ------*/

$background-color: rgba(30, 30, 40, 1);
$box-color: lighten($background-color, 10%);
$light-color: rgba(240, 240, 245);
$pink: rgba(190, 85, 160, 1);
$dark-pink: rgba(155, 40, 120, 1);


/*------ Typography ------*/

// Font Family
$main-font: ('Nunito', sans-serif);

// Font weight
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;

/*------------------------------------*\
    MIXINS
\*------------------------------------*/

/*------ Breakpoints ------*/

@mixin breakpoint($point) {
    @if $point == mobile-big {
        @media only screen and (min-width: 480px) {
            @content;
        }
    } 
    @else if $point == tablet {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }
    @else if $point == desktop {
        @media only screen and (min-width: 960px) {
            @content;
        }
    }
}

/*------ Blocks ------*/

@mixin block {
    display: block;
    width: 100%;
}

@mixin inline-block {
    display: inline-block;
    width: auto;
}

@mixin pseudo-block {
    @include block;
    position: absolute;
}

/*------------------------------------*\
    BASE STYLE & RESETS
\*------------------------------------*/

html, 
*, 
*::after, 
*::before {   
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html, 
body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $background-color;
}

/*------ Images ------*/

figure,
img {
    @include block;
    height: auto;
    max-width: 100%;
}

/*------ Focus style ------*/

:focus:not(:focus-visible) {
    outline: none;
}

:focus-visible {
    border: none;
    outline: 2px solid $light-color;
    outline-offset: 0;
}

/*------------------------------------*\
    HELPER CLASSES
\*------------------------------------*/

/*------ Hidden elements ------*/

.hidden-visually:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

/*------ Clearfix for containers of floating elements ------*/

.clear::before,
.clear::after {
    content: '';
    display: table;
}

.clear::after {
    clear: both;
}

/*------------------------------------*\
    LAYOUT
\*------------------------------------*/

/*------ General ------*/

#main-header,
#main-content,
#main-footer {
    margin: 0 auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}

@include breakpoint(tablet) {
    #main-header,
    #main-footer {
        padding-right: 3.2rem;
        padding-left: 3.2rem;
    }
}

@include breakpoint(desktop) {
    #main-header,
    #main-footer {
        padding-right: 4.0rem;
        padding-left: 4.0rem;
    }
}

/*------ Main header ------*/

#main-header {
    border-bottom: 1px solid lighten($background-color, 20%);
    margin-bottom: 3.2rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;

    @include breakpoint(tablet) {
        margin-bottom: 4.8rem;
    }

    @include breakpoint(desktop) {
        margin-bottom: 6.4rem;
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
    }

    & .logo {
        @include inline-block;

        @include breakpoint(tablet) {
            float: left;
        }

        & img {
            height: 4.0rem;

            @include breakpoint(desktop) {
                height: 4.8rem;
            }
        }
    }

    &.login-header {
        border-bottom: none;
        padding-top: 6.4rem;
        padding-bottom: 4.0rem;
        margin-bottom: 0;
    
        & .logo img {
            height: 6.4rem;
    
            @include breakpoint(desktop) {
                height: 8.0rem;
            }
        }

        @include breakpoint(tablet) {
            & .logo {
                float: none;
            }
        }

        @include breakpoint(desktop) {
            padding-top: 8.0rem;
            padding-bottom: 5.6rem;
        }
    }
}

/*------ Main content ------*/

.message.is-active {
    margin-bottom: 2.4rem;
}

.series-list li,
.next-episode-list li,
.season,
.login-form .text-field {
    margin-bottom: 1.6rem;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(tablet) {
        margin-bottom: 2.4rem;
    }
}

#main-content {
    max-width: 105.6rem;

    &.login-content {
        max-width: 52.8rem;

        @include breakpoint(tablet) {
            max-width: 57.6rem;
        }
    }

    @include breakpoint(tablet) {
        padding-right: 4.8rem;
        padding-left: 4.8rem;
    }
}

// Forms
label {
    @include block;
    margin-bottom: 0.5rem;
}

.login-form .text-field input {
    width: 100%;
}

.login-form .submit-field {
    margin-top: 2.4rem;

    @include breakpoint(desktop) {
        margin-top: 3.2rem;
    }
}

/*------ Main footer ------*/

#main-footer {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;

    @include breakpoint(desktop) {
        padding-top: 6.4rem;
        padding-bottom: 6.4rem;
    }
}

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/

/*------ General ------*/

body,
button,
input,
a {
    color: $light-color;
}

body,
button,
input,
.heading {
    font-weight: $font-regular; 
    font-family: $main-font;
}

body,
button,
input {
    font-size: 1.6rem;
    line-height: 1.5;

    @include breakpoint(desktop) {
        font-size: 1.8rem;
    }
}

.centered {
    text-align: center;
}

b,
strong,
.button {
    font-weight: $font-semibold;
}

.loading {
    color: $background-color;
}

/*------ Paragraphs ------*/

p {
    margin-bottom: 1.2em;
}

p:last-child {
    margin-bottom: 0;
}

.big-text {
    font-size: 1.8rem;
    font-weight: $font-light;

    @include breakpoint(desktop) {
        font-size: 2.4rem;
    }
}

/*------ Headings ------*/

.heading {
    font-weight: $font-regular;
}

.heading-big,
.heading-medium {
    line-height: 1.3;
}

// Heading big
.heading-big {
    font-size: 3.2rem;
    margin-bottom: 0.8em;

    @include breakpoint(tablet) {
        font-size: 4.0rem;
    }

    @include breakpoint(desktop) {
        font-size: 4.8rem;
        line-height: 1.2;
    }
}

// Heading medium
.heading-medium {
    font-size: 2.4rem;
    margin-bottom: 0.8em;
    margin-top: 1.2em;
    
    @include breakpoint(tablet) {
        font-size: 3.2rem;
    }
    
    @include breakpoint(desktop) {
        font-size: 3.6rem;
    }
}

// Heading list item
.heading-list-item {
    font-size: 2.0rem;
    margin-bottom: 0.2em;
    line-height: 1.4;
    
    @include breakpoint(tablet) {
        font-size: 2.4rem;
    }
}

.heading-light {
    font-weight: $font-light;
}

/*------ Links and buttons ------*/

a,
button {
    cursor: pointer;
    transition: all 0.4s ease-in;
}

a {
    text-decoration: none;
}

.go-back-link,
.highlighted-link {
    color: lighten($pink, 10%);

    &:hover {
        color: lighten($pink, 20%);
        text-decoration: underline;
    }
}

.go-back-link {
    background: url(images/arrow_go_back.svg) no-repeat left center;
    background-size: 1.6rem 1.2rem;
    padding-left: 2.4rem;

    &:hover {
        padding-left: 2.8rem;
    }

    @include breakpoint(desktop) {
        background-size: 1.8rem 1.35rem;
        padding-left: 2.8rem;

        &:hover {
            background-image: url(images/arrow_go_back_hover.svg);
            padding-left: 3.2rem;
        }
    }
}

// Buttons
.button {
    @include inline-block;
    background-color: $pink;
    border-radius: 2.0rem;
    height: 4.0rem;
    line-height: 4.0rem;
    padding: 0 2.4rem;

    &:hover {
        background-color: $dark-pink;
    }

    @include breakpoint(desktop) {
        border-radius: 2.4rem;
        height: 4.8rem;
        line-height: 4.8rem;
        padding: 0 3.2rem;
    }

    &.button-small {
        border-radius: 1.4rem;
        height: 2.8rem;
        font-size: 1.4rem;
        line-height: 2.8rem;
        padding: 0 1.6rem;

        @include breakpoint(tablet) {
            border-radius: 1.7rem;
            height: 3.4rem;
            font-size: 1.6rem;
            line-height: 3.4rem;
            padding: 0 2.0rem;
        }
    }

    &.button-big {
        border-radius: 2.4rem;
        font-size: 1.8rem;
        height: 4.8rem;
        line-height: 4.8rem;
        padding: 0 3.2rem;

        @include breakpoint(desktop) {
            border-radius: 3.2rem;
            font-size: 2.4rem;
            height: 6.4rem;
            line-height: 6.4rem;
            padding: 0 4.0rem;
        }
    }
}

/*------ Lists ------*/

ul {
    list-style: none;
}

/*------ Main navigation ------*/

#main-navigation {
    @include block;

    @include breakpoint(tablet) {
        @include inline-block;
        float: left;
        height: 4.0rem;
        line-height: 4.0rem;
        margin-left: 3.2rem;
    }

    @include breakpoint(desktop) {
        height: 4.8rem;
        line-height: 4.8rem;
        margin-left: 4.8rem;
    }
}

.menu {
    margin-top: 1.6rem;

    @include breakpoint(tablet) {
        margin-top: 0;
    }
}
.menu-item {
    @include inline-block;
    height: 3.2rem;
    line-height: 3.2rem;
    margin-left: 0.8rem;

    &:first-child {
        margin-left: 0;
    }

    @include breakpoint(desktop) {
        height: 4.0rem;
        line-height: 4.0rem;
        margin-left: 1.6rem;
    }
    
    & a {
        @include block;
        border-radius: 1.6rem;
        font-size: 1.5rem;
        height: 3.2rem;
        padding: 0 1.6rem;

        &:hover {
            background-color: $box-color;
        }

        &.active {
            background-color: $box-color;
        }

        @include breakpoint(mobile-big) {
            font-size: 1.6rem;
        }

        @include breakpoint(tablet) {
            font-size: 1.5rem;
        }

        @include breakpoint(desktop) {
            border-radius: 2.0rem;
            font-size: 1.6rem;
            height: 4.0rem;
            padding: 0 2.4rem;
        }
    }
}

.add-series-menu-item {
    position: absolute;
    right: 2.4rem;
    top: 2.4rem;

    @include breakpoint(tablet) {
        right: 3.2rem;
    }

    @include breakpoint(desktop) {
        right: 4.0rem;
        top: 3.2rem;
    }
}

.hidden-mobile:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;

    @include breakpoint(mobile-big) {
        clip-path: none;
        height: auto;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.capitalize-mobile {
    text-transform: capitalize;

    @include breakpoint(mobile-big) {
        text-transform: lowercase;
    }
}

/*------ Forms ------*/

input::placeholder {
    color: lighten($background-color, 45%);
}

input:focus-visible {  
    border: none;
    border-left: 4px solid $pink;
    outline: none;
    padding-left: 0.8rem;

    @include breakpoint(tablet) {
        padding-left: 1.2rem;
    }
}

label {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    @include breakpoint(tablet) {
        font-size: 1.2rem;
    }
}

/*------------------------------------*\
    BOX STYLE
\*------------------------------------*/

.box,
.message.is-active {
    padding: 1.2rem;

    @include breakpoint(tablet) {
        padding: 1.6rem;
    }
}

.box,
.message {
    border-radius: 0.8rem;

    @include breakpoint(tablet) {
        border-radius: 1.6rem;
    }
}

.box {
    @include block;
    background-color: $box-color;

    &.box-link:hover {
        background-color: lighten($box-color, 10%);
    }
}

/*------ Messages ------*/

.message {
    background-color: $light-color;
    padding: 0;
    position: relative;
    transition: all 0.4s ease-in;

    &.error {
        color: rgba(155, 40, 75, 1);
        padding-left: 4.8rem;

        &::before {
            @include pseudo-block;
            background-color: rgba(155, 40, 75, 1);
            border-radius: 1.2rem;
            color: rgba(255, 255, 255, 1);
            content: '!';
            left: 1.2rem;
            margin-top: -1.2rem;
            text-align: center;
            top: 50%;
            height: 2.4rem;
            width: 2.4rem;
        }
    }
}

/*------------------------------------*\
    SEARCH FORM
\*------------------------------------*/

.search-form {
    margin-bottom: 4.0rem;
}

.search-input {
    background-color: $light-color;
    border-radius: 0.8rem;
    color: darken($background-color, 10%);
    float: left;
    height: 4.0rem;
    line-height: 4.0rem;
    margin-right: 0.8rem;
    padding: 0 1.2rem;
    width: calc(100% - 4.8rem);

    @include breakpoint(desktop) {
        height: 4.8rem;
        line-height: 4.8rem;
        margin-right: 1.6rem;
        width: calc(100% - 6.4rem);
    }
}

.button-search {
    background-image: url(images/search_icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2.0rem 2.0rem;
    padding: 0;
    width: 4.0rem;

    @include breakpoint(desktop) {
        width: 4.8rem;
    }
}

/*------------------------------------*\
    NEXT EPISODES
\*------------------------------------*/

.next-episode-list {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint(tablet) {
        grid-template-columns: 1fr 1fr;
        gap: 2.4rem;

        & li {
            margin-bottom: 0;
        }
    }
}

/*------------------------------------*\
    SERIES LIST
\*------------------------------------*/

.series-list-item {
    position: relative;

    & a {
        padding-bottom: 4.8rem;

        @include breakpoint(mobile-big) {
            padding-right: 16.8rem;
            padding-bottom: 1.2rem;
        }

        @include breakpoint(tablet) {
            padding-right: 20.0rem;
            padding-bottom: 1.6rem;
        }
    }

    & .heading-list-item {
        margin-bottom: 0;
    }

    & a + .button {
        left: 1.2rem;
        margin-top: -4.0rem;
        position: absolute;
        top: 100%;

        @include breakpoint(mobile-big) {
            left: 100%;
            margin-top: -1.4rem;
            margin-left: -15.6rem;
            top: 50%;
            width: 14.4rem;
        }

        @include breakpoint(tablet) {
            margin-top: -1.7rem;
            margin-left: -18.4rem;
            width: 16.8rem;
        }
    }
}

/*------------------------------------*\
    SERIES DETAILS
\*------------------------------------*/

.series-details {
    .general-information {
        @include breakpoint(tablet) {
            float: left;
            padding-right: 3.2rem;
            width: 76%;
        }

        @include breakpoint(desktop) {
            padding-right: 4.0rem;
        }
    }

    .actions {
        padding-top: 3.2rem;

        @include breakpoint(tablet) {
            float: right;
            padding-top: 4.8rem;
            width: 24%;
        }

        @include breakpoint(desktop) {
            padding-top: 6.4rem;
        }

        & .button {
            margin-right: 1.6rem;

            &:last-child {
                margin-right: 0;
            }

            @include breakpoint(tablet) {
                margin-right: 0;
                margin-bottom: 1.6rem;
                width: 100%;
            }
        }
    }

    h1 {
        margin-top: 3.2rem;
        margin-bottom: 0.1em;

        @include breakpoint(tablet) {
            margin-top: 4.8rem;
        }

        @include breakpoint(desktop) {
            margin-top: 6.4rem;
        }
    }

    .airing-status {
        font-style: italic;
        font-size: 1.4rem;

        @include breakpoint(desktop) {
            font-size: 1.6rem;
        }
    }

    .plot {
        margin-top: 1.4em;
    }

    .season section {
        position: relative;

        & h3 {
            margin-bottom: 0;
        }
    }

    .button-show,
    .button-hide {
        @include block;
        background: transparent url(images/arrow_open_episodes.svg) no-repeat center center;
        background-size: 1.2rem 0.8rem;
        height: 0.8rem;
        position: absolute;
        right: 1.0rem;
        top: 0.9rem;
        width: 1.2rem;

        @include breakpoint(tablet) {
            top: 1.3rem;
        }
    }

    .button-hide {
        transform: rotate(180deg);
    }

    .episode-list {
        clear: both;
        max-height: 200.0rem;
        opacity: 1;
        transition: all 0.4s ease-out;

        &.hidden {
            opacity: 0;
            overflow: hidden;
            margin: 0;
            max-height: 0;
            visibility: hidden;
        }

        .episode {
            border-bottom: 1px solid lighten($box-color, 10%);
            margin-top: 1.2rem;
            padding-bottom: 1.6rem;
            position: relative;

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
            }

            & article {
                position: relative;
            }

            & h4,
            & p {
                padding-right: 4.0rem;
            }

            & h4 {
                font-weight: $font-semibold;
            }

            & p {
                font-weight: $font-light;
                font-size: 1.4rem;
                margin-bottom: 0;

                @include breakpoint(tablet) {
                    font-size: 1.6rem;
                }
            }
        }

        .button-unwatch,
        .button-watch {
            @include block;
            border-radius: 1.2rem;
            height: 2.4rem;
            position: absolute;
            right: 0.4rem;
            top: 0;
            width: 2.4rem;
        }

        .button-unwatch {
            background: $pink url(images/check_icon.svg) no-repeat center center;
            background-size: 1.2rem 1.2rem;

            &:hover {
                background-color: $dark-pink;
            }
        }

        .button-watch {
            background: no-repeat center center;
            background-color: transparent;
            border: 2px solid $pink;

            &:hover {
                background: $pink url(images/check_icon.svg) no-repeat center center;
                background-size: 1.2rem 1.2rem;
            }
        }
    }
}

/*------------------------------------*\
    PROMPTS
\*------------------------------------*/

.prompt-wrapper {
    background-color: rgba(30, 30, 40, 0.9);
    height: 100%;
    left: 0;
    padding: 24.0rem 2.4rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.prompt {
    background-color: $light-color;
    border-radius: 0.8rem;
    color: darken($background-color, 10%);
    max-width: 43.2rem;
    padding: 1.6rem;
    position: fixed;
    width: calc(100% - 4.8rem);
    z-index: 20;

    @include breakpoint(mobile-big) {
        left: 50%;
        margin-left: -21.6rem;
    }

    @include breakpoint(tablet) {
        border-radius: 1.6rem;
    }

    & .button {
        @include block;
        margin-top: 1.2rem;
    }
    & .button-50 {
        @include breakpoint(mobile-big) {
            float: left;
            margin-bottom: 0 !important;
            width: calc(50% - 1.6rem) !important;

            &:first-child {
                margin-right: 0.8rem;
            }

            &:last-child {
                margin-left: 0.8rem
            }
        }
    }

    & p {
        font-size: 1.4rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }
}

.button-close {
    @include block;
    background: transparent url(images/close_icon.svg) no-repeat center center;
    background-size: 1.6rem 1.6rem;
    position: absolute;
    height: 1.6rem;
    right: 0.8rem;
    top: -3.2rem;
    width: 1.6rem;
}
